{% extends "base.html" %}
  {% block content %}
    <!-- Container used to display everything beneath the nav bar -->
    <div class="container">
      <div class="row justify-content-center mb-2 mt-3">
        <h1 class="text-white font-weight-bold">Welcome, {{ firstName }}!</h1> <!-- Header of the page -->
      </div>
      <!-- div used to house the information to be displayed about the user -->
      <div class="row justify-content-center">
        <div class="col-8 bg-dark text-white rounded pt-3 px-4 pb-3">
          <div class="row mb-3">
            <h2>Account Information</h2>
          </div>
          <div class="row">
            <p class="font-weight-bold mr-2">First Name: </p>
            <p>{{ firstName }}</p>
          </div>
          <div class="row">
            <p class="font-weight-bold mr-2">Surname: </p>
            <p>{{ surname }}</p>
          </div>
          <div class="row">
            <p class="font-weight-bold mr-2">Username: </p>
            <p>{{ username }}</p>
          </div>
          <div class="row">
            <p class="font-weight-bold mr-2">Email Address: </p>
            <p>{{ email }}</p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <!-- Button to change password -->
            <div class="d-flex ml-n3">
              <a class="btn btn-light" href="/changePassword" role="button">Change Password</a>
            </div>
            <!-- Button to logout -->
            <div class="d-flex mr-n2">
              <a class="btn btn-outline-light px-3 font-weight-bold" href="/logout" role="button">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}